{% load static %}
<!DOCTYPE html>
<html>
{% comment %} <link rel="stylesheet" href="{% static 'myfirst.css' %}"> {% endcomment %}
<link rel="stylesheet" href="{% static 'myglobal.css' %}">
<body>
{% include "mymenu.html" with me="TOBIAS" sponsor="W3SCHOOLS" %}

{% for x in fruits %}
  <h1>{{ x }}</h1>
{% endfor %}

<p>In views.py you can see what the fruits variable looks like.</p>
<h1>Welcome{# Everyone#}</h1>

<ul>
  {% for x in mymembers reversed %}
    <li>{{ x.firstname }}</li>
  {% endfor %}
</ul>


{% if greeting == 1 and day == "Friday" %}
  <h1>Hello</h1>
{% elif greeting == 2 %}
  <h1>Welcome</h1>
{% else %}
  <h1>Bye</h1>
{% endif %} 

<ul>
  {% for x in mymembers %}
    <li>{{ x.firstname }}</li>
  {% endfor %}
</ul>

{% if x is y %}
  <h1>YES</h1>
{% else %}
  <h1>NO</h1>
{% endif %}

<ul>
  {% for x in emptytestobject %}
    <li>{{ x.firstname }}</li>
  {% empty %}
    <li>No members</li>
  {% endfor %}
</ul> 

<ul>
  {% for x in fruits %}
    <li
      {% if forloop.last %}
        style='background-color:lightblue;'
      {% endif %}
    >{{ x }}</li>
  {% endfor %}
</ul> 
<ul>
  {% for x in fruits %}
    <li>{{ forloop.revcounter }}</li>
  {% endfor %}
</ul> 
<ul>
  {% for x in fruits %}
    <li>{{ forloop.revcounter0 }}</li>
  {% endfor %}
</ul> 

{% include 'footer.html' %} 

</body>
</html>